#navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
  background-color: #1f88be;
}

#navbar a {
  color: #fff;
}

#navbar a:hover {
  border-bottom: 1px solid #f2711c;
}

#main {
  margin-top: 80px;
}

.header {
  color: #1f88be !important;
  text-transform: uppercase !important;
}

.feed-event {
  padding: 20px !important;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.feed-event:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240) !important;
}
